body{
    margin:0px;
    background-color: #525;
}
nav{
    width:100%;
    background-color:#efefef;
    height:50px;
    border-top:3px solid black;
}
.menu{
    float:left;
    width:500px;
    height:50px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float:left;
    margin-left:20px;
}

.menu a{
    text-decoration: none;
}

.icons{
    float:right;
    margin: 16px 110px 0px 0px;
}